<launch>

  <arg name="camera_device" default="/dev/video2" />
  <arg name="use_rviz" default="true" />
  <arg name="node_namespace" default="apriltag_ros_continuous_node" />

  <!-- <include file="$(find colab_reachy_camera)/launch/camera_image_and_info.launch">
    <arg name="cam_dev" value="$(arg camera_device)"/>
  </include> -->

  <!--  -->
  <!-- <include file="$(find colab_reachy_object_urdf)/launch/display.launch">
  </include> -->
  <include file="$(find colab_reachy_object_urdf)/launch/display.launch"/>
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>

  <!-- Set parameters -->
  <rosparam command="load" file="$(find colab_reachy_tf)/config/settings_alternative.yaml" ns="$(arg node_namespace)"/>
  <rosparam command="load" file="$(find colab_reachy_tf)/config/tags_alternative.yaml" ns="$(arg node_namespace)"/>

  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />
    <param name="publish_tf" type="bool" value='false' />
  </node>

  <!-- publish the pose to the /tf topic after subscribing to /tag_detection topic. Need this to add the time stamp -->
  <!-- Set the apriltag publish_tf to False so that it's not duplicating /tf from /tag_detection topic-->
  <!-- <param name="apriltag_ros_continuous_node/publish_tf" type="bool" value='false' /> -->

  <node pkg="colab_reachy_tf" type="tag_detection_to_tf.py" name="tag_detection_to_tf" />
  
  <!-- Sets the static tf from the pedestal of reachy to the apriltag -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="apriltag_4" args="0.05 0 1 0 0 0 1 pedestal apriltag_4  100" />  -->

  <!-- Simulation -->
  <node pkg="tf" type="static_transform_publisher" name="apriltag_4" args="0.05 0 1 0 0 0 1 pedestal apriltag_4  100" /> 


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find colab_reachy_tf)/rviz/default.rviz" if="$(arg use_rviz)"/>
</launch>
